%h2
  Join us!

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    = f.email_field :email, :autofocus => true
  .form-group
    = f.label :password
    = f.password_field :password
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  = f.submit "Sign up"

  = render "devise/shared/links"
