/ @url = link_to "Collisterator.com", profile_path, :email => @user.email
%html
  %meta{:content=>"text/html"}
  %meta{:charset=>"utf-8"}
  = stylesheet_link_tag "application", :media=>"all"
  .container
    %body
      %h1 Welcome to collisterator.com! #{@user.email}
      %p 
        = "You have successfully signed up for Collisterator, a collaborative list making service."
        = "Sign in to look at your profile, create new lists and custom list types at:" %a(href="localhost:3000/#{@user.email}") "Collisterator.com/ #{@user.email}"

