%p#notice
  = notice

%h1 Welcome #{@user.email}...
%h2 My Lists:
- @items = @user.root_items
%table.table.table-striped
  %tr
    %th
      List name
  - @items.each do |item|
    %tr
      %td
        = link_to "#{item.data['title']}", item_path(item)

%h2 Shared Lists:
- @shared_items = @user.shared_items
%table.table.table-striped
  %tr
    %th
      List name
  - @shared_items.each do |shared_item|
    %tr
      %td
        = link_to "#{shared_item.data}", item_path(shared_item)

- @list_types = @user.templates
- if (can? :create, ListType)
  - unless @list_types.blank?
    %h2 My Templates:
    %table.table.table-striped
    - @list_types.each do |list_type|
      %tr
        %td
          = link_to "#{list_type.name}", list_type_path(list_type)
        

