%p#notice
  = notice

%h1 Welcome #{@user.email}...
%h2 My Lists:
- @items = @user.root_items
%table.table.table-striped
  %tr
    %th
      List name
  - @items.each do |item|
    %tr
      %td
        = link_to "#{item.data["name"]}", item_path(item)
      %td
        %button{'data-toggle' => 'modal', 'href' => "../item_shares/", 'data-target' => '#share-list-button-dialog'}
          Share
          =render :partial => "share_list", locals: {item: item, user: @user}
        /%a{'data-toggle' => 'modal', 'data-target' => '#share-list', 'href' => '#share-list', 'class' => 'btn btn-primary', 'type' => 'button'}

%h2 Shared Lists:
- @shared_items = @user.shared_items
%table.table.table-striped
  %tr
    %th
      List name
  - @shared_items.each do |shared_item|
    %tr
      %td
        = link_to "#{shared_item.data}", item_path(shared_item)

- @list_types = @user.templates
- if (can? :create, ListType)
  - unless @list_types.blank?
    %h2 My Templates:
    %table.table.table-striped
    - @list_types.each do |list_type|
      %tr
        %td
          = link_to "#{list_type.name}", list_type_path(list_type)
        

