= form_for @list_type, :html => {:class => "form-inline"} do |f|
  = f.hidden_field :user_id, :value => current_user.id
  .row
    - if (@list_type.errors.any?)
      .error_explanation
        %h2 
          - pluralize(@list_type.errors.count, "error")
          prohibited this list_type from being saved:
      
        %ul
          - @list_type.errors.full_messages.each do |msg|
            %li= msg
  %div.panel.panel-default
    %div.panel-heading
      %div.form-group
        = f.label :name, :class => "sr-only"
        = f.text_field :name, :class => "form-control", :placeholder => "List Type Name"
      %div.form-group
        %label.sr-only
          List Type
        %select.form-control{:name => "list_type_type"}
          %option
            plain list
          %option
            tree
          %option
            custom
      %div.form-group.pull-right 
        %button.btn.btn-primary.add-field{:type => 'button'}
          %i.icon-plus.icon-white
          Add Field For List
    .panel-body
      #fields
        =f.hidden_field :fields, :value => @list_type.fields

    %div.panel-footer
      .actions
        = f.submit "Save", :class => "btn btn-success"
      
:javascript
  $(document).ready(function() { 
    Collisterator.initListTypeForm();
  });
