.row
  = form_for @list_type do |f|
    - if (@list_type.errors.any?)
      .error_explanation
        %h2 
          - pluralize(@list_type.errors.count, "error")
          prohibited this list_type from being saved:
      
        %ul
          - @list_type.errors.full_messages.each do |msg|
            %li= msg

    .span3          
      %fieldset
        %legend
          Basic Options
        .field
          = f.label :name 
          = f.text_field :name, :class => "span3"
        .field
          %label 
            List Type
          %select.span3.list-type-type-selector{:name => "list_type_type"}
            %option
              plain list
            %option
              tree
            %option
              custom
      %fieldset.customization-options{:style => "display:none"}
        %legend
          Customization options
        .field
          = f.label :can_have_children
          %label.radio
            Yes
            = f.radio_button :can_have_children, true		
          %label.radio
            No
            = f.radio_button :can_have_children, false
        .field
          = f.label :can_be_root
          %label.radio
            Yes
            = f.radio_button :can_be_root, true
          %label.radio
            No
            = f.radio_button :can_be_root, false
        .field
          = f.label :children_list_type_id
          = collection_select(:list_type, :children_list_type_id, ListType.all, :id, :name, {:prompt => true})

    .span3
      %fieldset
        %legend
          Fields
        .row
          %table#fields-table.span3.table-striped
            %thead
              %tr
                %th
                  Name
                %th
                  Type
                %th
                  Default
            %tbody
        %hr
        %button.btn.btn-primary{:data => {:target => "#add-field-button-dialog", :toggle => "modal"}}
          %i.icon-plus.icon-white
          Add Field For List

        %hr

        %button#toggle-list-type-customization.btn.btn-danger{:type => "button"}
          %i.icon-edit.icon-white
          Customize

        #list-type-customizations{:style => "display:none"}
          .field
            = f.label :fields
            = f.text_area :fields, :rows => 5, :class => "example-trigger", :id => "list-type-fields-text"

          .field
            = f.label :template 
            = f.text_area :template, :rows => 5, :class => "example-trigger", :id => "list-type-template-text"
             
          .field
            = f.label :default_data
            = f.text_area :default_data, :rows => 5, :class => "example-trigger", :id => "list-type-default-data"	
    .span3
      %fieldset
        %legend
          Example
        %table.table-striped
          %tr.list-type-example-header
          %tr.list-type-example-row
    .span3
      .actions
        = f.submit "Save", :class => "btn btn-primary"
  #add-field-button-dialog.modal.hide.fade{:role => "dialog"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3 Create field
    .modal-body
      %form#new-field-form
        %fieldset
          %label Name:
          %input{:type=>"text", :name=>"display_name"}
          %label Type:
          %select{:name=>"type"}
            %option text
            %option date
            %option number
            %option checklist
          %label Default value:
          %input#new-field-form-default{:name=>"default"}
          
    .modal-footer
      %a.btn{:href => "#", "data-dismiss" => "modal"} Close
      %a#new-field-form-submit.btn.btn-primary{:href => "#", "data-dismiss" => "modal"} Save changes
%hr
:javascript
  Collisterator.initListTypeForm();

