%p#notice 
	= notice

%p
	%b Name:
	= @list_type.name
  
%p
	%b Template:
	= @list_type.template

#collisterator_tree
	- @items = list_by_list_type(@list_type.id)
	
- @items.each do |item|
	- item_id = item.id
	:javascript
		Collisterator.buildTree(#{item_id})
	
= link_to 'Edit', edit_list_type_path(@list_type) 
= link_to 'Back', list_types_path