%p#notice 
  = notice

%h2
  = @list_type.name

%h3
  Fields
%table.table.table-striped#fields-table
  %tr
    %th
      Display name
    %th
      Type
    %th
      Default data

%h3
  Sample Table
#collisterator_tree


= link_to 'Edit', edit_list_type_path(@list_type) 
= link_to 'Back', list_types_path

:javascript
  Collisterator.buildSampleTree('#{@list_type.id}');
  Collisterator.showFieldsTable('#{@list_type.fields}');
