%p#notice 
  = notice

%table.table.table-striped
  %tr
    %th
      = @list_type.name

%table.table.table-striped#fields-table
  %tr
    %th
      Fields
  %tr
    %td
      Display name
    %td
      Type
    %td
      Default data

#collisterator_tree


= link_to 'Edit', edit_list_type_path(@list_type) 
= link_to 'Back', list_types_path

:javascript
  Collisterator.buildSampleTree('#{@list_type.id}');
  Collisterator.showFieldsTable('#{@list_type.fields}');
