%p#notice 
	= notice

%p
	%b Name:
	= @list_type.name
  
%p
	%b Template:
	= @list_type.template
	
%p
	%b Default Data:
	= @list_type.default_data

	
= link_to 'Edit', edit_list_type_path(@list_type) 
= link_to 'Back', list_types_path
