<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list_type.name %>
</p>

<p>
  <b>Template:</b>
  <%= @list_type.template %>
</p>


<%= link_to 'Edit', edit_list_type_path(@list_type) %> |
<%= link_to 'Back', list_types_path %>
