= form_tag user_session_path do 
  %input{:type => 'text', :name => 'user[email]', :placeholder => 'email'}
  %input{:type => 'password', :name => 'user[password]', :placeholder => 'password'}
  %label{:id => 'user[remember_me]'}
    = check_box_tag 'user[remember_me]'
    Remember me
  %div.btn-group-vertical
    %button.btn.btn-primary Sign in
    = link_to user_omniauth_authorize_path(:google_oauth2), {:class => 'btn btn-primary'} do
      Sign in with Google
    = link_to 'Register', new_user_registration_path, {:class => 'btn btn-primary'}  
    %br
    = link_to "Forgot your password?", new_password_path('user')
