%p#notice 
	= notice

%p
	%b PARENT ID: 
	= @item.parent_id
	
%p
	%b Name:
	= @item.name

%p
	%b ID: 
	= @item.id

%p
	%b Data: 
	= @item.data

%p
	%b Status: 
	= @item.status

#collisterator_tree
	- item_id = @item.id

:javascript
	Collisterator.buildTree(#{item_id});

= link_to 'Edit', edit_item_path(@item) 
= link_to 'Back', items_path
