%div.collapse.navbar-collapse#app-navbar
  %ul.nav.navbar-nav
    %li
      = link_to "Collisterator", root_path, :class => 'brand'
    - if current_user
      %li
        = link_to 'New List', list_types_path

  %ul.nav.navbar-nav.navbar-right
    -if user_signed_in?
      %li
        - email = current_user.email
        = link_to(email, profile_path(email))
      %li
        = link_to "Sign Out", destroy_user_session_path, method: :delete
    -else
      %li.dropdown
        %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
          %i.icon-user
          Login or Register
        %ul.dropdown-menu
          %li
            = render 'devise/sessions/form'
