%div.sign_in_centered
  %div.panel.panel-default
    %div.panel-heading
      %h2 Sign Up
    %div.panel-body
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| 
        = devise_error_messages!
        .form-group
          = f.label :email, :class => "col-sm-2 control-label"
          .col-sm-10
            = f.email_field :email, :class => "form-control", :autofocus => true
        .form-group
          = f.label :password, :class => "col-sm-2 control-label"
          .col-sm-10
            = f.password_field :password, :class => "form-control"
        .form-group
          = f.label :password_confirmation, :class => "col-sm-2 control-label"
          .col-sm-10
            = f.password_field :password_confirmation, :class => "form-control"
        .form-group
          .col-sm-offset-2.col-sm-10
            = f.submit "Sign up"
        .form-group
          .col-sm-offset-2.col-sm-10
            = render "users/shared/links"

